
<!-- Start Banner -->
<section id="banner">

  <div class="banner-bg">
    <div class="banner-bg-item active"><div class="image intro2"></div></div>
    <div class="banner-bg-item"><div class="image intro1"></div></div>
    <div class="banner-bg-item"><div class="image intro3"></div></div>
    <div class="banner-bg-item"><div class="image intro4"></div></div>
    <div class="banner-bg-item"><div class="image intro5"></div></div>
    <div class="banner-bg-item"><div class="image intro6"></div></div>
    <div class="banner-bg-item"><div class="image intro7"></div></div>
    <div class="banner-bg-item"><div class="image intro8"></div></div>
    <div class="banner-bg-item"><div class="image intro9"></div></div>
    <div class="banner-bg-item"><div class="image intro10"></div></div>
  </div>

  <div class="css-table">
    <div class="css-table-cell">
      <!-- Start Banner-Search -->
      <% if false %>
      <div class="banner-search">
        <div class="container">
            <div id="hero-tabs" class="banner-search-inner">
              <ul class="custom-list tab-title-list clearfix">
                <li class="tab-title active"><a href="#yachts">Hotel</a></li>
                <li class="tab-title"><a href="#privjet">Resort</a></li>
                <li class="tab-title"><a href="#luxcars">Private suites</a></li>
                <li class="tab-title"><a href="#cartrans">Pools & Spa</a></li>
              </ul>
              <ul class="custom-list tab-content-list">

                <!-- Start Hotel -->
                <li class="tab-content active">
                  <form action="#" class="default-form">
                    <span class="arrival calendar">
                      <input type="text" name="arrival" placeholder="Arrival" data-dateformat="m/d/y">
                      <i class="fa fa-calendar"></i>
                    </span>
                    <span class="departure calendar">
                      <input type="text" name="departure" placeholder="Departure" data-dateformat="m/d/y">
                      <i class="fa fa-calendar"></i>
                    </span>
                    <span class="adults select-box">
                      <select name="adults" data-placeholder="Adults">
                        <option>Adults</option>
                        <option value="1">1 adult</option>
                        <option value="2">2 adults</option>
                        <option value="3">3 adults</option>
                        <option value="4">4 adults</option>
                      </select>
                    </span>
                    <span class="children select-box">
                      <select name="children" data-placeholder="Children">
                        <option>Children</option>
                        <option value="1">1 children</option>
                        <option value="2">2 childrens</option>
                        <option value="3">3 childrens</option>
                        <option value="4">4 childrens</option>
                      </select>
                    </span>
                    <span class="submit-btn">
                      <button class="btn btn-transparent">Book Now</button>
                      <a href="#" class="advanced">Advanced Search</a>
                    </span>
                  </form>
                </li>
                <!-- End Hotel -->

                <!-- Start Resorts -->
                <li class="tab-content">
                  <form action="#" class="default-form">
                    <span class="arrival calendar">
                      <input type="text" name="arrival" placeholder="Arrival" data-dateformat="m/d/y">
                      <i class="fa fa-calendar"></i>
                    </span>
                    <span class="departure calendar">
                      <input type="text" name="departure" placeholder="Departure" data-dateformat="m/d/y">
                      <i class="fa fa-calendar"></i>
                    </span>
                    <span class="adults select-box">
                      <select name="adults" data-placeholder="Adults">
                        <option>Adults</option>
                        <option value="1">2</option>
                        <option value="2">3</option>
                        <option value="3">4</option>
                      </select>
                    </span>
                    <span class="children select-box">
                      <select name="children" data-placeholder="Children">
                        <option>Children</option>
                        <option value="1">2</option>
                        <option value="2">3</option>
                        <option value="3">4</option>
                      </select>
                    </span>
                    <span class="submit-btn">
                      <button class="btn btn-transparent">Book Now</button>
                      <a href="#" class="advanced">Advanced Search</a>
                    </span>
                  </form>
                </li>
                <!-- End Resorts -->

                <!-- Start Private Suites -->
                <li class="tab-content">
                  <form action="#" class="default-form">
                    <span class="arrival calendar">
                      <input type="text" name="arrival" placeholder="Arrival" data-dateformat="m/d/y">
                      <i class="fa fa-calendar"></i>
                    </span>
                    <span class="departure calendar">
                      <input type="text" name="departure" placeholder="Departure" data-dateformat="m/d/y">
                      <i class="fa fa-calendar"></i>
                    </span>
                    <span class="adults select-box">
                      <select name="adults" data-placeholder="Adults">
                        <option>Adults</option>
                        <option value="1">2 adults</option>
                        <option value="2">3 adults</option>
                        <option value="3">4 adults</option>
                      </select>
                    </span>
                    <span class="children select-box">
                      <select name="children" data-placeholder="Children">
                        <option>Children</option>
                        <option value="1">2</option>
                        <option value="2">3</option>
                        <option value="3">4</option>
                      </select>
                    </span>
                    <span class="submit-btn">
                      <button class="btn btn-transparent">Book Now</button>
                      <a href="#" class="advanced">Advanced Search</a>
                    </span>
                  </form>
                </li>
                <!-- End Private Suites -->

                <!-- Start Bed & Breakfast -->
                <li class="tab-content">
                  <form action="#" class="default-form">
                    <span class="arrival calendar">
                      <input type="text" name="arrival" placeholder="Arrival" data-dateformat="m/d/y">
                      <i class="fa fa-calendar"></i>
                    </span>
                    <span class="departure calendar">
                      <input type="text" name="departure" placeholder="Departure" data-dateformat="m/d/y">
                      <i class="fa fa-calendar"></i>
                    </span>
                    <span class="adults select-box">
                      <select name="adults" data-placeholder="Adults">
                        <option>Adults</option>
                        <option value="1">2</option>
                        <option value="2">3</option>
                        <option value="3">4</option>
                      </select>
                    </span>
                    <span class="children select-box">
                      <select name="children" data-placeholder="Children">
                        <option>Children</option>
                        <option value="1">2</option>
                        <option value="2">3</option>
                        <option value="3">4</option>
                      </select>
                    </span>
                    <span class="submit-btn">
                      <button class="btn btn-transparent">Book Now</button>
                      <a href="#" class="advanced">Advanced Search</a>
                    </span>
                  </form>
                </li>
                <!-- End Bed & Breakfast -->

              </ul>
          </div>
        </div>
      </div>
      <!-- End Banner-Search -->
      <% end %>

    </div>
  </div>
</section>
<!-- End Banner -->

<!-- Start About -->
<section class="about">
  <div class="container">
    <div class="row">
      <div class="booking" style="padding: 20px; width: 380px; height: 450px; position: absolute; z-index: 5; top: -270px; margin-left: auto; left: 0; margin-right: auto; right: 0;">
        <% if I18n.locale == :en %>
          <iframe title="Dynamic Packaging Bulgaria" id="kitt-iframe" src="#" data-url="https://dpb.kittbg.com/public/online-booking/search/hotel?apiKey=9545fedb-5a03-11e4-88d7-448a5ba02513&languageId=1&hotel=1208&form_action=http://www.hotelarenamar.com/booking&form_target=_parent" style="width: 100%;min-height: 260px; position: relative; z-index: 6; overflow-x: hidden;border: none;"><a href="https://travelfinder.bg/" title="Dynamic Packaging Bulgaria" target="_blank">Dynamic Packaging Bulgaria</a></iframe>
          <script type="application/ld+json">{"@context": "https://schema.org","@type": "Product","description": "","name": "Dynamic Packaging Bulgaria","url": "https://travelfinder.bg/","image": "https://travelfinder.bg/travelfinder_logo.png"}</script>
          <script src="https://dpb.kittbg.com/public/js/dpb.js"></script>
        <% elsif I18n.locale == :bg %>
          <iframe title="Dynamic Packaging Bulgaria" id="kitt-iframe" src="#" data-url="https://dpb.kittbg.com/public/online-booking/search/hotel?apiKey=9545fedb-5a03-11e4-88d7-448a5ba02513&languageId=3&hotel=1208&form_action=http://www.hotelarenamar.com/booking&form_target=_parent" style="width: 100%;min-height: 260px; position: relative; z-index: 6; overflow-x: hidden;border: none;"><a href="https://travelfinder.bg/" title="Dynamic Packaging Bulgaria" target="_blank">Dynamic Packaging Bulgaria</a></iframe>
          <script type="application/ld+json">{"@context": "https://schema.org","@type": "Product","description": "","name": "Dynamic Packaging Bulgaria","url": "https://travelfinder.bg/","image": "https://travelfinder.bg/travelfinder_logo.png"}</script>
          <script src="https://dpb.kittbg.com/public/js/dpb.js"></script>
        <% end %>
        <div class="booking-bg" style="background: rgba(255,255,255,0.8); position: absolute; width: 100%; height: 270px; top: 0; left: 0;"></div>
      </div>
      <div class="preamble stars col-md-12">
        
        <% if I18n.locale == :en %>

        <h3>ABOUT THE HOTEL</h3>
        <p>Modern, jovial and bright, situated in one of the loveliest Bulgarian sea resorts – Golden Sands  – the Arena Mar **** hotel offers virtually anything that you might wish: vicinity to the beach, delicious food, complete relaxation of the senses at the SpA and the indoor pool, unceasing amusement at the numerous clubs and bars… </p>
        <br/>
        <br/>
        <hr/>
        <br/>
        <br/>
        <h4>Within Reach</h4>
        <p style="text-align: left;"><strong>A wonderful combination</strong> of sandy beaches and woods, Golden Sands resort is cozily nestled in the lush vegetation of the ancient forest of the nature park bearing the same name. Few people know that the resort lies on almost the same latitude as the world-known French Riviera town of St. Tropez. Golden Sands is located only 17 km to the north of Varna where there is so much to see: historical and cultural monuments, museums, the oldest processed gold in the world dated 5000 years b.C, astonishing with the complexity of its geometric proportions, the Cathedral, the Roman Baths, many restaurants and  shops.  The medieval “Aladzha” monastery, carved into the rocks, offers an unforgettable performance in sound and lights at a walking distance from the resort. The lovely Euxinograd residence is very close to the resort as well. Within 60km there is the only stone desert in Europe – “Pobiti Kamani”; the biggest pre-historical village in Europe, located in Durankulak; the botanical garden in Balchik, Cape Kaliakra, an abundance of coastal areas, stunning in sceneries, flora and fauna.</p>

        <% elsif I18n.locale == :bg %>

        <h3>ЗА ХОТЕЛА</h3>
        <p>Хотелски комплекс "Arena Mar" - 4 звезди се намира в курорта Златни пясъци на българското крайбрежие на Черно море и е разположен на север от съществуващия хотел Перуника. 
        Хотел "Арена Мар" е на 150 метра от плажа, на 250 метра от центъра на курорта, на 15 км от 
        най-близкия град - Варна, и на 23 км от летището.
        </p>
        <br/>
        <br/>
        <hr/>
        <br/>
        <br/>
        <h4>В околностите</h4>
        <p style="text-align: left;"><strong>Курортът Златни пясъци</strong> е прекрасно съчетание на златист плаж и сгушилите го гъсти, терасовидно спускащи се гори на едноименния природен парк. Малцина знаят, че Златни пясъци лежи на почти еднаква географска ширина с прочутия курортен град на френската Ривиера Сен Тропе. Разположен е на 17 км от град Варна, където могат да се посетят културни и исторически забележителности, първото обработено злато в света, датирано на 5000 години преди Христа, и поразяващо със сложността на геометричните си пропорции, Катедралния храм, Римските Tерми, много магазини и ресторанти. Съвсем близо до курортния комплекс се намират скалния Аладжа манастир, както и двореца Евксиноград. В обсег от 60 км от хотела са единствената каменна пустиня в Европа „Побити камъни“, уникалното праисторическо селище край Дуранкулак, ботаническата градина в Балчик, н. Калиакра, зашеметяващи с гледките, флората и фауната си крайморски местности, и мн. др.</p>

        <% end %>

      </div>
      
      <div class="col-md-3 col-sm-6 feature text-center">
        <div class="overlay">
          <%= image_tag("feature-pool.jpg", class: "img-responsive") %>
          <div class="overlay-shadow">
            <div class="overlay-content">
              <%= link_to t('more'), services_path, class: 'btn btn-transparent-white' %>
            </div>
          </div>
        </div>
        <h4><%= t('index.services') %></h4>

      </div>

      <div class="col-md-3 col-sm-6 feature text-center">
        <div class="overlay">
          <%= image_tag("feature-room.jpg", class: "img-responsive") %>
          <div class="overlay-shadow">
            <div class="overlay-content">
              <%= link_to t('more'), rooms_path, class: 'btn btn-transparent-white' %>
            </div>
          </div>
        </div>
        <h4><%= t('index.rooms') %></h4>

      </div>

     <div class="col-md-3 col-sm-6 feature text-center">
        <div class="overlay">
          <%= image_tag("feature-food.jpg", class: "img-responsive") %>
          <div class="overlay-shadow">
            <div class="overlay-content">
              <%= link_to t('more'), restaurants_path, class: 'btn btn-transparent-white' %>
            </div>
          </div>
        </div>
        <h4><%= t('index.restaurants') %></h4>

      </div>

      <div class="col-md-3 col-sm-6 feature text-center">
        <div class="overlay">
          <%= image_tag("feature-entertainment.jpg", class: "img-responsive") %>
          <div class="overlay-shadow">
            <div class="overlay-content">
              <%= link_to t('more'), special_offers_path, class: 'btn btn-transparent-white' %>
            </div>
          </div>
        </div>
        <h4><%= t('index.offers') %></h4>

      </div>
    </div>
  </div>
</section>
<!-- End About -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72755983-3', 'auto');
  ga('send', 'pageview');

</script>



<% if false %>
  <!-- Start Testimonials -->
  <section class="testimonials">

    <!-- Start Video Background -->
    <div id="video_testimonials" data-vide-bg="<%= video_path('ocean.mp4') %>" data-vide-options="position: 0% 50%"></div>
    <div class="video_gradient"></div>
    
    <!-- End Video Background -->

    <div class="container">
      <div class="row">
        <div class="preamble light col-md-12">
          <h3>Testimonials</h3>
        </div>

        <div class="col-md-12">
          <div id="owl-testimonials" class="owl-carousel owl-theme">

            <!-- Start Container Item -->
            <div class="item">
              <div class="col-lg-12">
                <blockquote class="quote">
                  <cite>George Petrov<span class="job">Entrepreneur</span></cite>
                  <p class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui.
                </blockquote>
              </div>
            </div>
            <!-- End Container Item -->

            <!-- Start Container Item -->
            <div class="item">
              <div class="col-lg-12">
                <blockquote class="quote">
                  <cite>Mariyana Hristova<span class="job">Interior Designer, Engineer</span></cite>
                  <p class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui.
                </blockquote>
              </div>
            </div>
            <!-- End Container Item -->

            <!-- Start Container Item -->
            <div class="item">
              <div class="col-lg-12">
                <blockquote class="quote">
                  <cite>Christogen Stefanov<span class="job">Businessman</span></cite>
                  <p class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui.
                </blockquote>
              </div>
            </div>
            <!-- End Container Item -->

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- End Testimonials -->
  <% end %>

  <% if false %>
  <!-- Start Supertabs -->
  <section class="supertabs">
    <div class="container">
      <div class="row">
        
        <!-- Start Tab-Navigation -->
        <div class="col-md-4 tab-navigation">
          <ul class="custom-list">
            <li class="active">
              <a data-toggle="tab" href="#fleet">
                <h5 class="title">Highest Standards</h5>
                <h6 class="subtitle">No compromises</h6>
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#drivers">
                <h5 class="title">Qualified Staff</h5>
                <h6 class="subtitle">You are in good hands</h6>
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#location">
                <h5 class="title">Golden Sands</h5>
                <h6 class="subtitle">Golden Sun</h6>
              </a>
            </li>
          </ul>
        </div>
        <!-- End Tab-Navigation -->

        <!-- Start Tab-Content -->
        <div class="col-md-8 tab-content">
          <div id="fleet" class="tab-pane fade in active">
            <%= image_tag("supertabs.jpg") %>
            <header>
              <h5 class="title">Arena Mar Hotel</h5>
              <h6 class="subtitle">is passionate about ensuring your quality experience</h6>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae a aut consequatur similique tempora excepturi iusto provident eum quam aperiam id est, voluptas recusandae quisquam, pariatur rerum tempore atque illo!</p>
          </div>
          <div id="drivers" class="tab-pane fade">
            <%= image_tag("supertabs-2.jpg") %>
            <header>
              <h5 class="title">Experience</h5>
              <h6 class="subtitle">qualified service and comfort</h6>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae a aut consequatur similique tempora excepturi iusto provident eum quam aperiam id est, voluptas recusandae quisquam, pariatur rerum tempore atque illo!</p>
          </div>
          <div id="location" class="tab-pane fade">
            <%= image_tag("supertabs-3.jpg") %>
            <header>
              <h5 class="title">Located in the best resort</h5>
              <h6 class="subtitle">in the exotic republic of Bulgaria</h6>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae a aut consequatur similique tempora excepturi iusto provident eum quam aperiam id est, voluptas recusandae quisquam, pariatur rerum tempore atque illo!</p>
          </div>
        </div>
        <!-- End Tab-Content -->

      </div>
    </div>
  </section>
  <!-- End Supertabs -->
  <% end %>

  <% if false %>
  <!-- Start Partners -->
  <section class="partners">
    <div class="container">
      <div class="row">
        <div class="preamble stars col-md-12">
          <h3>Our Parner Hotels</h3>
        </div>
        <div class="col-md-12">
          <div id="clients-slider" class="owl-carousel">
            <%= image_tag("company1.png", class: "img-responsive") %>
            <%= image_tag("company1.png", class: "img-responsive") %>
            <%= image_tag("company1.png", class: "img-responsive") %>
            <%= image_tag("company1.png", class: "img-responsive") %>
            <%= image_tag("company1.png", class: "img-responsive") %>
            <%= image_tag("company1.png", class: "img-responsive") %>
            <%= image_tag("company1.png", class: "img-responsive") %>
            <%= image_tag("company1.png", class: "img-responsive") %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Partners -->
  <% end %>