<!-- Start Header-Section -->
<section class="header-section listing">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title-section pull-left">
          <%= t('menu.restaurants') %>
        </h3>
      </div>
    </div>
  </div>
</section>
<!-- End Header-Section -->

<section class="about">
    <div class="container">
      <div class="row">
	      	<div class="preamble stars col-md-12">
            <div class="restaurants">
              <% if I18n.locale == :en %>
              
    		        <h3>Food & Beverage</h3>
  		        
                <p>At smartline Arena Mar the guests can choose between two restaurants for dinner, either the varied buffet restaurant or the ‘Arena Mar’ à-la-carte restaurant  with an beautiful open air courtyard. The perfect end of an exciting the day is sipping a cool drink at the lobby bar, or enjoying one  at the pool bar.</p>

                <ul>
                  <li><h5>Pool bar</h5></li>
                  <li><h5>Lobby bar</h5></li>
                  <li><h5>Restaurant</h5><p>Table reservation in the à la carte restaurant required</p></li>
                </ul>
              
                <hr/>
                <br/>
                <h3>All Inclusive</h3>

  		        	<ul>
  		        		<li>Breakfast (7.30am-10am), lunch (noon-2pm) and dinner (6pm-9pm) served in the buffet restaurant</li>
  		        		<li>Water, soft drinks, local beer and wine served at lunch and dinner</li>
  		        		<li>Water, soft drinks, local beer and wine in the pool bar (10am-6pm) and in the lobby bar (10am-11pm)</li>
  		        		<li>Snacks (3pm-5pm)  served at the main restaurant or pool bar only</li>
                  <li>Fresh fruit and ice cream (10am-11am and 2pm-3pm)</li>
  		        	</ul>
              <% elsif I18n.locale == :bg %>

                <h3>Ресторанти и Барове</h3>

                <p>Хотел smartline Arena Mar**** предлага обслужване на „Ол инклузив“, нощувка със закуска или полупансион (закуска с вечеря). В основния ресторант през летния сезон се организират тематични вечери и музикална програма. </p>

                <ul>
                  <li>
                    <h5><i>Основен ресторант</i></h5>
                    <p>обслужване на бюфет</p>
                    <p>Закуска: 7:30 - 10:00</p>
                    <p>Обяд: 12:00 - 14:00</p>
                    <p>Вечеря: 18:00 - 21:00</p>
                  </li>
                  <li>
                    <h5><i>Ресторант a-la-carte</i></h5>
                    <p>с изход към красив английски двор с шадраван – с предварителна резервация и срещу допълнително заплащане</p>
                    <p>Отворен за вечеря: 18:00 - 21:00</p>
                  </li>
                  <li>
                    <h5><i>Лоби бар</i></h5>
                    <p>с места за сядане на слънчева тераса</p>
                    <p>Отворен: 10:00 - 23:00</p>
                  </li>
                  <li>
                    <h5><i>Бар басейн</i></h5>
                    <p>разхладете се с някой от нашите коктейли, фрешове</p>
                    <p>Отворен: 10:00 - 18:00</p>
                    <p>Плодове и сладоледи: 10:00 - 11:00 и 14:00 - 15:00</p>
                  </li>
                  <li>
                    <h5><i>Руум сервиз</i></h5>
                    <p>може да поръчате английска или континентална закуска, омлети, салати, сандвичи и специалитети, напитки, да бъдат доставени в стаята Ви</p>
                    <p>Работно време: 07:30 - 21:00</p>
                    <p>Телефон за поръчки: 800</p>
                  </li>
                </ul>

              <% end %>
            </div>
      		</div>
          
          <% if false %>
          <%= link_to image_tag("member1.jpg", "data-imagelightbox" => "g"), image_path('hotel_pool_new.jpg') %>
          <a href="<%= image_path('hotel_pool_new.jpg') %>" data-imagelightbox="g"><img src="<%= image_path('member1.jpg') %>" alt=""></a>
          <a href="<%= image_path('hotel_front_new.jpg') %>" data-imagelightbox="g"><img src="<%= image_path('member1.jpg') %>" alt=""></a>
          <% end %>

          

          <div id="owl-demo" class="owl-carousel owl-theme">
            <div class="item"><div class="image food1"></div></div>
            <div class="item"><div class="image food2"></div></div>
            <div class="item"><div class="image food3"></div></div>
            <div class="item"><div class="image food4"></div></div>
            <div class="item"><div class="image food5"></div></div>
            <div class="item"><div class="image food6"></div></div>
            <div class="item"><div class="image food7"></div></div>
            <div class="item"><div class="image food8"></div></div>
            <div class="item"><div class="image food9"></div></div>
          </div>
          <div class="customNavigation">
            <a class="btn prev"><</a>
            <a class="btn next">></a>
          </div>

  		</div>
	</div>
</section>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72755983-3', 'auto');
  ga('send', 'pageview');

</script>