<!-- Start Header-Section -->
<section class="header-section listing">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title-section pull-left">
          СТАИ
        </h3>
      </div>
    </div>
  </div>
</section>
<!-- End Header-Section -->

<section id="listing">
  <div class="container">
    <div class="row">
      <div class="preamble col-md-12">
        <h4>На Ваше разположение са стилни и луксозно обзаведени 188 двойни и 12 апартамента.</h4>
        <p>Комфортно обзаведените стаи разполагат с централна климатизация, телевизор с плосък екран и кабелна телевизия, мини хладилник, телефон, безжичен интернет, сейф, баня с душ, сешоар, балкон. Като можете да избирате стая с изглед  към море / басейн, или с изглед към вътрешния двор / търговската алея.</p>

      </div>
      <div class="listing-content col-md-9">

        <!-- LISTING 1 -->
        <div class="listing-room-list">
          <div class="thumbnail">
            <div class="thumbnail-slider">
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
              <% if false %><%= image_tag("listing-1.jpg", class: "img-responsive") %>
              <%= image_tag("listing-1.jpg", class: "img-responsive") %><% end %>
            </div>
          </div>
          <div class="listing-room-content">
            <div class="row">
              <div class="col-md-12">
                <header>
                  <div class="pull-left">
                    <h5 class="title">
                      <a href="#">Двойна Стая</a>
                    </h5>
                    <ul class="tags custom-list list-inline pull-left">
                      <% if false %>
                      <li><a href="#">1 Bed</a></li>
                      <li><a href="#">2 People</a></li>
                      <li><a href="#">Sea View</a></li>
                      <% end %>
                    </ul>
                  </div>
                  <div class="pull-right">
                    <span class="price">
                      
                    </span>
                  </div>
                </header>
                <div class="listing-facitilities">
                  <div class="row">
                    <div class="col-md-4 col-sm-4">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-leaf"></i><span>Климатик</span></li>
                        <li><i class="fa fa-heart-o"></i><span>Топъл душ</span></li>
                        <li><i class="fa fa-check-square-o"></i><span><strong>+1 </strong> легло</span></li>
                      </ul>
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-female"></i><span>Room service</span></li>
                        <li><i class="fa fa-key"></i><span>Платен сейф</span></li>
                        <li><i class="fa fa-desktop"></i><span>LCD TV с кабелна</span></li>
                      </ul>
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-globe"></i><span>Платен WIFI</span></li>
                        <li><i class="fa fa-phone"></i><span>Телефон</span></li>
                        <li><i class="fa fa-asterisk"></i><span>Хладилник</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- LISTING 2 -->
        <div class="listing-room-list">
          <div class="thumbnail">
            <div class="thumbnail-slider">
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
              <% if false %><%= image_tag("listing-1.jpg", class: "img-responsive") %>
              <%= image_tag("listing-1.jpg", class: "img-responsive") %><% end %>
            </div>
          </div>
          <div class="listing-room-content">
            <div class="row">
              <div class="col-md-12">
                <header>
                  <div class="pull-left">
                    <h5 class="title">
                      <a href="#">Апартамент</a>
                    </h5>
                    <ul class="tags custom-list list-inline pull-left">
                      <% if false %>
                      <li><a href="#">2 Beds</a></li>
                      <li><a href="#">2 People</a></li>
                      <li><a href="#">Sea View</a></li>
                      <% end %>
                    </ul>
                  </div>
                  <div class="pull-right">
                    <span class="price">
                      
                    </span>
                  </div>
                </header>
                <div class="listing-facitilities">
                  <div class="row">
                    <div class="col-md-4 col-sm-4">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-leaf"></i><span>Климатик</span></li>
                        <li><i class="fa fa-heart-o"></i><span>Топъл душ</span></li>
                        <li><i class="fa fa-check-square-o"></i><span><strong>+1 </strong> легло</span></li>
                      </ul>
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-female"></i><span>Room service</span></li>
                        <li><i class="fa fa-key"></i><span>Платен сейф</span></li>
                        <li><i class="fa fa-desktop"></i><span>LCD TV с кабелна</span></li>
                      </ul>
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-globe"></i><span>Платен WIFI</span></li>
                        <li><i class="fa fa-phone"></i><span>Телефон</span></li>
                        <li><i class="fa fa-asterisk"></i><span>Хладилник</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="special-offers listing">
          <h5 class="title-section">Специални оферти</h5>
          <div class="offers-content">
            <ul class="custom-list">
              <li>
                <div class="thumbnail"><%= image_tag("listing-1.jpg", class: "img-responsive") %></div>
                <h5 class="title"><a href="#">King Suite</a></h5>
                <span class="price">from $99/day</span>
              </li>
              <li>
                <div class="thumbnail"><%= image_tag("listing-1.jpg", class: "img-responsive") %></div>
                <h5 class="title"><a href="">King Suite</a></h5>
                <span class="price">from $99/day</span>
              </li>
            </ul>
          </div>
        </div>
      </div>




      <div class="sidebar col-md-3">
        




        <% if false %>
        <div class="fleets-filters toggle-container">
          <h5 class="toggle-title">Filters</h5>
          <aside class="toggle-content">
            <div class="search">
              <form action="#" class="default-form">
                <input type="text" placeholder="Search">
                <i class="fa fa-search"></i>
              </form>
            </div>
            <div class="general">
              <h5 class="title">General</h5>
              <form action="#" class="default-form">
                <span class="arrival calendar">
                  <input type="text" name="arrival" placeholder="Arrival" data-dateformat="m/d/y">
                  <i class="fa fa-calendar"></i>
                </span>
                <span class="departure calendar">
                  <input type="text" name="departure" placeholder="Departure" data-dateformat="m/d/y">
                  <i class="fa fa-calendar"></i>
                </span>
                <span class="adults select-box">
                  <select name="adults" data-placeholder="Adults">
                    <option>Adults</option>
                    <option value="1">1 adult</option>
                    <option value="2">2 adults</option>
                    <option value="3">3 adults</option>
                    <option value="4">4 adults</option>
                  </select>
                </span>
                <span class="children select-box">
                  <select name="children" data-placeholder="Children">
                    <option>Children</option>
                    <option value="1">1 children</option>
                    <option value="2">2 childrens</option>
                    <option value="3">3 childrens</option>
                    <option value="4">4 childrens</option>
                  </select>
                </span>
              </form>
              <h5 class="title">Price</h5>
              <div class="slider-range-container box-row">
                <div class="slider-range" data-min="2000" data-max="100000" data-step="2000" data-default-min="2000" data-default-max="50000" data-currency="$">
                </div>
                <div class="clearfix">
                  <input type="text" class="range-from" value="$2000">
                  <input type="text" class="range-to" value="$50000">
                </div>
              </div>
              <h5 class="title">Amenities</h5>
              <ul class="custom-list additional-filter-list clearfix">
                <li>
                  <span class="checkbox-input">
                    <input id="additional-filter-ac" checked="checked" type="checkbox">
                    <label for="additional-filter-ac">AC</label>
                  </span>
                </li> 
                <li>
                  <span class="checkbox-input">
                    <input id="additional-filter-hotbath" checked="checked" type="checkbox">
                    <label for="additional-filter-hotbath">Hotbath</label>
                  </span>
                </li> 
                <li>
                  <span class="checkbox-input">
                    <input id="additional-filter-parking" type="checkbox">
                    <label for="additional-filter-parking">Parking</label>
                  </span>
                </li> 
                <li>
                  <span class="checkbox-input">
                    <input id="additional-filter-room-service" type="checkbox">
                    <label for="additional-filter-room-service">Room Service</label>
                  </span>
                </li> 
                <li>
                  <span class="checkbox-input">
                    <input id="additional-filter-safe" checked="checked" type="checkbox">
                    <label for="additional-filter-safe">Safe</label>
                  </span>
                </li> 
                <li>
                  <span class="checkbox-input">
                    <input id="additional-filter-tv" checked="checked" type="checkbox">
                    <label for="additional-filter-tv">TV</label>
                  </span>
                </li> 
                <li>
                  <span class="checkbox-input active">
                    <input id="additional-filter-wifi" checked="checked" type="checkbox">
                    <label for="additional-filter-wifi">Wifi</label>
                  </span>
                </li> 
              </ul>
            </div>
            <div class="buttons">
              <button class="btn btn-transparent-gray pull-left">
                Filter
              </button>
              <button class="btn btn-transparent-gray pull-right">
                Reset
              </button>
            </div>
          </aside>
        </div>
        <% end %>


        <div class="special-offers sidebar">
          <h5 class="title-section"><%= link_to "Цени и оферти", special_offers_path %></h5>
          <% if false %>
          <div class="offers-content">
            
            <ul class="custom-list">
              <li>
                <div class="thumbnail"><%= image_tag("listing-1.jpg", class: "img-responsive") %></div>
                <h5 class="title"><a href="#">Двойна Стая</a></h5>
                <span class="price">-25% до Септември</span>
              </li>
              <li>
                <div class="thumbnail"><%= image_tag("listing-1.jpg", class: "img-responsive") %></div>
                <h5 class="title"><a href="">Апартамент</a></h5>
                <span class="price">-25% до Октомври</span>
              </li>
            </ul>
            
          </div>
          <% end %>
        </div>

        

        <div class="special-offers sidebar contact-us-button">
          <h5 class="title-section"><%= link_to "Направете запитване", contacts_path %></h5>
          <% if false %>
          <div class="offers-content">
            
            <ul class="custom-list">
              <li>
                <div class="thumbnail"><%= image_tag("listing-1.jpg", class: "img-responsive") %></div>
                <h5 class="title"><a href="#">Двойна Стая</a></h5>
                <span class="price">-25% до Септември</span>
              </li>
              <li>
                <div class="thumbnail"><%= image_tag("listing-1.jpg", class: "img-responsive") %></div>
                <h5 class="title"><a href="">Апартамент</a></h5>
                <span class="price">-25% до Октомври</span>
              </li>
            </ul>
            
          </div>
          <% end %>
        </div>
      
        <% if false %>
        <div class="special-offers sidebar" style="margin-top: 50px;">
          <h5 class="title-section">Standard Features</h5>
          <ul class="custom-list-features">
            <li>Bright luxuriously furnished rooms</li> 
            <li>Laminate floor</li>
            <li>International direct dialing telephone</li>
            <li>Fridge</li>
            <li>Hairdryer in bathroom</li>
            <li>Balcony</li>
          </ul>
        </div>
        <% end %>

      </div><!-- end of side-bar -->

    </div>
  </div>
</section>













<% if false %>
<!-- Start Header-Section -->
<section class="header-section listing">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title-section pull-left">
          Luxurious Accomdations
        </h3>
        <% if false %>
        <ul class="breadcrumbs custom-list list-inline pull-right">
          <li><a href="#">Home</a></li>
          <li><a href="#">Search Result</a></li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</section>
<!-- End Header-Section -->

<section id="listing">
  <div class="container">
    <div class="row">
      <div class="listing-content col-md-9">

        <% if false %>
        <div class="listing-pagination">
          <h5 class="title pull-left">Available Room</h5>
          <span class="adults select-box pull-right">
            <select name="perpage" data-placeholder="9 Per Page">
              <option>Per Page</option>
              <option value="1">10 Per Page</option>
              <option value="2">11 Per Page</option>
              <option value="3">12 Per Page</option>
              <option value="4">13 Per Page</option>
            </select>
          </span>
          <ul class="pagination custom-list list-inline pull-right">
            <li class="prev"><a href="#">Prev</a></li>
            <li class="number"><a href="#">1</a></li>
            <li class="number"><a href="#">2</a></li>
            <li class="number"><a href="#">3</a></li>
            <li class="next"><a href="#">Next</a></li>
          </ul>
        </div>
        <% end %>

        <!-- LISTING 1 -->
        <div class="listing-room-list">
          <div class="thumbnail">
            <div class="thumbnail-slider">
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
            </div>
          </div>
          <div class="listing-room-content">
            <div class="row">
              <div class="col-md-12">
                <header>
                  <div class="pull-left">
                    <h5 class="title">
                      <a href="#">Deluxe Room</a>
                    </h5>
                    <ul class="tags custom-list list-inline pull-left">
                      <li><a href="#">1 Bed</a></li>
                      <li><a href="#">2 People</a></li>
                      <li><a href="#">Sea View</a></li>
                    </ul>
                  </div>
                  <div class="pull-right">
                    <span class="price">
                      from $99/day
                    </span>
                  </div>
                </header>
                <div class="listing-facitilities">
                  <div class="row">
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-leaf"></i><span>AC</span></li>
                        <li><i class="fa fa-heart-o"></i><span>Hotbath</span></li>
                        <li><i class="fa fa-car"></i><span>Parking</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-female"></i><span>Room service</span></li>
                        <li><i class="fa fa-key"></i><span>Free safe</span></li>
                        <li><i class="fa fa-desktop"></i><span>TV & Audio</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-globe"></i><span>WIFI access</span></li>
                        <li><i class="fa fa-clock-o"></i><span>24/7 Service</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <button class="btn btn-transparent-gray">
                        Read More
                      </button>
                      <button class="btn btn-gray-dark">
                        Book now
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- LISTING 2 -->
        <div class="listing-room-list">
          <div class="thumbnail">
            <div class="thumbnail-slider">
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
            </div>
          </div>
          <div class="listing-room-content">
            <div class="row">
              <div class="col-md-12">
                <header>
                  <div class="pull-left">
                    <h5 class="title">
                      <a href="#">Double Deluxe Room</a>
                    </h5>
                    <ul class="tags custom-list list-inline pull-left">
                      <li><a href="#">2 Beds</a></li>
                      <li><a href="#">2 People</a></li>
                      <li><a href="#">Sea View</a></li>
                    </ul>
                  </div>
                  <div class="pull-right">
                    <span class="price">
                      from $119/day
                    </span>
                  </div>
                </header>
                <div class="listing-facitilities">
                  <div class="row">
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-leaf"></i><span>AC</span></li>
                        <li><i class="fa fa-heart-o"></i><span>Hotbath</span></li>
                        <li><i class="fa fa-car"></i><span>Parking</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-female"></i><span>Room service</span></li>
                        <li><i class="fa fa-key"></i><span>Free safe</span></li>
                        <li><i class="fa fa-desktop"></i><span>TV & Audio</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-globe"></i><span>WIFI access</span></li>
                        <li><i class="fa fa-clock-o"></i><span>24/7 Service</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <button class="btn btn-transparent-gray">
                        Read More
                      </button>
                      <button class="btn btn-gray-dark">
                        Book now
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- LISTING 3 -->
        <div class="listing-room-list">
          <div class="thumbnail">
            <div class="thumbnail-slider">
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
            </div>
          </div>
          <div class="listing-room-content">
            <div class="row">
              <div class="col-md-12">
                <header>
                  <div class="pull-left">
                    <h5 class="title">
                      <a href="#">Family Apartnment</a>
                    </h5>
                    <ul class="tags custom-list list-inline pull-left">
                      <li><a href="#">3 Beds</a></li>
                      <li><a href="#">4 People</a></li>
                      <li><a href="#">Sea View</a></li>
                    </ul>
                  </div>
                  <div class="pull-right">
                    <span class="price">
                      from $149/day
                    </span>
                  </div>
                </header>
                <div class="listing-facitilities">
                  <div class="row">
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-leaf"></i><span>AC</span></li>
                        <li><i class="fa fa-heart-o"></i><span>Hotbath</span></li>
                        <li><i class="fa fa-car"></i><span>Parking</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-female"></i><span>Room service</span></li>
                        <li><i class="fa fa-key"></i><span>Free safe</span></li>
                        <li><i class="fa fa-desktop"></i><span>TV & Audio</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-globe"></i><span>WIFI access</span></li>
                        <li><i class="fa fa-clock-o"></i><span>24/7 Service</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <button class="btn btn-transparent-gray">
                        Read More
                      </button>
                      <button class="btn btn-gray-dark">
                        Book now
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- LISTING 4 -->
        <div class="listing-room-list">
          <div class="thumbnail">
            <div class="thumbnail-slider">
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
            </div>
          </div>
          <div class="listing-room-content">
            <div class="row">
              <div class="col-md-12">
                <header>
                  <div class="pull-left">
                    <h5 class="title">
                      <a href="#">King Suite</a>
                    </h5>
                    <ul class="tags custom-list list-inline pull-left">
                      <li><a href="#">1 Bed</a></li>
                      <li><a href="#">2 People</a></li>
                      <li><a href="#">Sea View</a></li>
                    </ul>
                  </div>
                  <div class="pull-right">
                    <span class="price">
                      from $199/day
                    </span>
                  </div>
                </header>
                <div class="listing-facitilities">
                  <div class="row">
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-leaf"></i><span>AC</span></li>
                        <li><i class="fa fa-heart-o"></i><span>Hotbath</span></li>
                        <li><i class="fa fa-car"></i><span>Parking</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-female"></i><span>Room service</span></li>
                        <li><i class="fa fa-key"></i><span>Free safe</span></li>
                        <li><i class="fa fa-desktop"></i><span>TV & Audio</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-globe"></i><span>WIFI access</span></li>
                        <li><i class="fa fa-clock-o"></i><span>24/7 Service</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <button class="btn btn-transparent-gray">
                        Read More
                      </button>
                      <button class="btn btn-gray-dark">
                        Book now
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- LISTING 5 -->
        <div class="listing-room-list">
          <div class="thumbnail">
            <div class="thumbnail-slider">
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
            </div>
          </div>
          <div class="listing-room-content">
            <div class="row">
              <div class="col-md-12">
                <header>
                  <div class="pull-left">
                    <h5 class="title">
                      <a href="#">King Suite Family</a>
                    </h5>
                    <ul class="tags custom-list list-inline pull-left">
                      <li><a href="#">3 Beds</a></li>
                      <li><a href="#">4 People</a></li>
                      <li><a href="#">Sea View</a></li>
                    </ul>
                  </div>
                  <div class="pull-right">
                    <span class="price">
                      from $249/day
                    </span>
                  </div>
                </header>
                <div class="listing-facitilities">
                  <div class="row">
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-leaf"></i><span>AC</span></li>
                        <li><i class="fa fa-heart-o"></i><span>Hotbath</span></li>
                        <li><i class="fa fa-car"></i><span>Parking</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-female"></i><span>Room service</span></li>
                        <li><i class="fa fa-key"></i><span>Free safe</span></li>
                        <li><i class="fa fa-desktop"></i><span>TV & Audio</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-globe"></i><span>WIFI access</span></li>
                        <li><i class="fa fa-clock-o"></i><span>24/7 Service</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <button class="btn btn-transparent-gray">
                        Read More
                      </button>
                      <button class="btn btn-gray-dark">
                        Book now
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <% if false %>
        <div class="listing-pagination footer">
          <ul class="pagination custom-list list-inline text-center no-margin">
            <li class="prev"><a href="#">Prev</a></li>
            <li class="number"><a href="#">1</a></li>
            <li class="number"><a href="#">2</a></li>
            <li class="number"><a href="#">3</a></li>
            <li class="next"><a href="#">Next</a></li>
          </ul>
        </div>
        <% end %>

        <div class="special-offers listing">
          <h5 class="title-section">Special Offers</h5>
          <div class="offers-content">
            <ul class="custom-list">
              <li>
                <div class="thumbnail"><%= image_tag("listing-1.jpg", class: "img-responsive") %></div>
                <h5 class="title"><a href="#">King Suite</a></h5>
                <span class="price">from $99/day</span>
              </li>
              <li>
                <div class="thumbnail"><%= image_tag("listing-1.jpg", class: "img-responsive") %></div>
                <h5 class="title"><a href="">King Suite</a></h5>
                <span class="price">from $99/day</span>
              </li>
              <li>
                <div class="thumbnail"><%= image_tag("listing-1.jpg", class: "img-responsive") %></div>
                <h5 class="title"><a href="">King Suite</a></h5>
                <span class="price">from $99/day</span>
              </li>
            </ul>
          </div>
        </div>
      </div>




      <div class="sidebar col-md-3">
        
        <% if false %>
        <div class="fleets-filters toggle-container">
          <h5 class="toggle-title">Filters</h5>
          <aside class="toggle-content">
            <div class="search">
              <form action="#" class="default-form">
                <input type="text" placeholder="Search">
                <i class="fa fa-search"></i>
              </form>
            </div>
            <div class="general">
              <h5 class="title">General</h5>
              <form action="#" class="default-form">
                <span class="arrival calendar">
                  <input type="text" name="arrival" placeholder="Arrival" data-dateformat="m/d/y">
                  <i class="fa fa-calendar"></i>
                </span>
                <span class="departure calendar">
                  <input type="text" name="departure" placeholder="Departure" data-dateformat="m/d/y">
                  <i class="fa fa-calendar"></i>
                </span>
                <span class="adults select-box">
                  <select name="adults" data-placeholder="Adults">
                    <option>Adults</option>
                    <option value="1">1 adult</option>
                    <option value="2">2 adults</option>
                    <option value="3">3 adults</option>
                    <option value="4">4 adults</option>
                  </select>
                </span>
                <span class="children select-box">
                  <select name="children" data-placeholder="Children">
                    <option>Children</option>
                    <option value="1">1 children</option>
                    <option value="2">2 childrens</option>
                    <option value="3">3 childrens</option>
                    <option value="4">4 childrens</option>
                  </select>
                </span>
              </form>
              <h5 class="title">Price</h5>
              <div class="slider-range-container box-row">
                <div class="slider-range" data-min="2000" data-max="100000" data-step="2000" data-default-min="2000" data-default-max="50000" data-currency="$">
                </div>
                <div class="clearfix">
                  <input type="text" class="range-from" value="$2000">
                  <input type="text" class="range-to" value="$50000">
                </div>
              </div>
              <h5 class="title">Amenities</h5>
              <ul class="custom-list additional-filter-list clearfix">
                <li>
                  <span class="checkbox-input">
                    <input id="additional-filter-ac" checked="checked" type="checkbox">
                    <label for="additional-filter-ac">AC</label>
                  </span>
                </li> 
                <li>
                  <span class="checkbox-input">
                    <input id="additional-filter-hotbath" checked="checked" type="checkbox">
                    <label for="additional-filter-hotbath">Hotbath</label>
                  </span>
                </li> 
                <li>
                  <span class="checkbox-input">
                    <input id="additional-filter-parking" type="checkbox">
                    <label for="additional-filter-parking">Parking</label>
                  </span>
                </li> 
                <li>
                  <span class="checkbox-input">
                    <input id="additional-filter-room-service" type="checkbox">
                    <label for="additional-filter-room-service">Room Service</label>
                  </span>
                </li> 
                <li>
                  <span class="checkbox-input">
                    <input id="additional-filter-safe" checked="checked" type="checkbox">
                    <label for="additional-filter-safe">Safe</label>
                  </span>
                </li> 
                <li>
                  <span class="checkbox-input">
                    <input id="additional-filter-tv" checked="checked" type="checkbox">
                    <label for="additional-filter-tv">TV</label>
                  </span>
                </li> 
                <li>
                  <span class="checkbox-input active">
                    <input id="additional-filter-wifi" checked="checked" type="checkbox">
                    <label for="additional-filter-wifi">Wifi</label>
                  </span>
                </li> 
              </ul>
            </div>
            <div class="buttons">
              <button class="btn btn-transparent-gray pull-left">
                Filter
              </button>
              <button class="btn btn-transparent-gray pull-right">
                Reset
              </button>
            </div>
          </aside>
        </div>
        <% end %>


        <div class="special-offers sidebar">
          <h5 class="title-section">Special Offers</h5>
          <div class="offers-content">
            <ul class="custom-list">
              <li>
                <div class="thumbnail"><%= image_tag("listing-1.jpg", class: "img-responsive") %></div>
                <h5 class="title"><a href="#">Family Apt.</a></h5>
                <span class="price">25% off until Sept.</span>
              </li>
              <li>
                <div class="thumbnail"><%= image_tag("listing-1.jpg", class: "img-responsive") %></div>
                <h5 class="title"><a href="">King Suite</a></h5>
                <span class="price">25% off until Sept.</span>
              </li>
              <li>
                <div class="thumbnail"><%= image_tag("listing-1.jpg", class: "img-responsive") %></div>
                <h5 class="title"><a href="">King Suite Family</a></h5>
                <span class="price">25% off until Oct.</span>
              </li>
            </ul>
          </div>
        </div>
      

        <div class="special-offers sidebar" style="margin-top: 50px;">
          <h5 class="title-section">Standard Features</h5>
          <ul class="custom-list-features">
            <li>Bright luxuriously furnished rooms</li> 
            <li>Laminate floor</li>
            <li>International direct dialing telephone</li>
            <li>Fridge</li>
            <li>Hairdryer in bathroom</li>
            <li>Balcony</li>
          </ul>
        </div>


      </div><!-- end of side-bar -->

    </div>
  </div>
</section>
<% end %>