<!-- Start Header-Section -->
<section class="header-section listing">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title-section pull-left">
          <%= t('menu.rooms') %>
        </h3>
      </div>
    </div>
  </div>
</section>
<!-- End Header-Section -->

<section id="listing">
  <div class="container">
    <div class="row">
      <div class="preamble col-md-12">
        <% if I18n.locale == :en %>

          <h4>Smartline Arena Mar comprises 200 luxurious and brightly furnished rooms.</h4>
          <br/>
          <p style="text-align:left;"><strong>Room types:</strong>  Double room (a total of appr. 23m2, including bathroom; living area – 14m2 ) with view to the commercial street, pool, or with partial sea view, for 2 adults +1 child or 3 adults.  Family room (x a total of 27,4 m2 including bathroom; size of the living area – 19,6m2) with view to the courtyard or to the commercial street for 3 or 4 adults, or 3 adults and 1 child.</p>
          <br/>
          <ul style="text-align:left;">
            <li>Air Condition</li>
            <li>Single bed  - 100/200cm</li>
            <li>Extra bed type - sofa</li>
            <li>Rooms have balcony</li>
            <li>Rooms have baby cots (additional charge, upon request)</li>
            <li>Cable TV</li>
            <li>Telephone</li>
            <li>Safe in the room (additional charge)</li>
            <li>Fridge </li>
            <li>Hair dryer</li>
            <li>Shower </li>
            <li>WC</li>
          </ul>


        <% elsif I18n.locale == :bg %>

          <h4>Хотел Арена Мар**** предоставя за настаняване 200 луксозни, свежи стаи</h4>
          <br/>
          <p style="text-align:left;"><strong>Хотел Арена Мар**** предоставя за настаняване</strong> на своите гости общо 188 двойни стаи и 12 апартамента с изглед към басейна, търговската улица, морето или курортните алеи. Всички стаи имат просторни балкони, собствена баня / тоалетна (с душ). Стаите са оборудвани с:</p>
          <br/>
          <ul style="text-align:left;">
            <li>Климатик</li>
            <li>Минибар</li>
            <li>Сейф</li>
            <li>LCD Телевизор</li>
            <li>Телефон</li>
            <li>Сешоар в баните</li>
            <li>В апартаментите - вана</li>
          </ul>

        <% end %>
      </div>
      <div class="listing-content col-md-9">

        <!-- LISTING 1 -->
        <div class="listing-room-list">
          <div class="thumbnail">
            <div class="thumbnail-slider">
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
              <% if false %><%= image_tag("listing-1.jpg", class: "img-responsive") %>
              <%= image_tag("listing-1.jpg", class: "img-responsive") %><% end %>
            </div>
          </div>
          <div class="listing-room-content">
            <div class="row">
              <div class="col-md-12">
                <header>
                  <div class="pull-left">
                    <h5 class="title">
                      <a href="#"><%= t('rooms.2room') %></a>
                    </h5>
                    <ul class="tags custom-list list-inline pull-left">
                      <% if false %>
                      <li><a href="#">1 Bed</a></li>
                      <li><a href="#">2 People</a></li>
                      <li><a href="#">Sea View</a></li>
                      <% end %>
                    </ul>
                  </div>
                  <div class="pull-right">
                    <span class="price">
                      
                    </span>
                  </div>
                </header>
                <div class="listing-facitilities">
                  <div class="row">
                    <div class="col-md-4 col-sm-4">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-leaf"></i><span><%= t('rooms.features.aircon') %></span></li>
                        <li><i class="fa fa-heart-o"></i><span><%= t('rooms.features.shower') %></span></li>
                        <li><i class="fa fa-check-square-o"></i><span><%= t('rooms.features.extrabed') %></span></li>
                      </ul>
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-female"></i><span><%= t('rooms.features.roomservice') %></span></li>
                        <li><i class="fa fa-key"></i><span><%= t('rooms.features.safe') %></span></li>
                        <li><i class="fa fa-desktop"></i><span><%= t('rooms.features.tv') %></span></li>
                      </ul>
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-globe"></i><span><%= t('rooms.features.wifi') %></span></li>
                        <li><i class="fa fa-phone"></i><span><%= t('rooms.features.phone') %></span></li>
                        <li><i class="fa fa-asterisk"></i><span><%= t('rooms.features.fridge') %></span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- LISTING 2 -->
        <div class="listing-room-list">
          <div class="thumbnail">
            <div class="thumbnail-slider">
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
              <% if false %><%= image_tag("listing-1.jpg", class: "img-responsive") %>
              <%= image_tag("listing-1.jpg", class: "img-responsive") %><% end %>
            </div>
          </div>
          <div class="listing-room-content">
            <div class="row">
              <div class="col-md-12">
                <header>
                  <div class="pull-left">
                    <h5 class="title">
                      <a href="#"><%= t('rooms.Aroom') %></a>
                    </h5>
                    <ul class="tags custom-list list-inline pull-left">
                      <% if false %>
                      <li><a href="#">2 Beds</a></li>
                      <li><a href="#">2 People</a></li>
                      <li><a href="#">Sea View</a></li>
                      <% end %>
                    </ul>
                  </div>
                  <div class="pull-right">
                    <span class="price">
                      
                    </span>
                  </div>
                </header>
                <div class="listing-facitilities">
                  <div class="row">
                    <div class="col-md-4 col-sm-4">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-leaf"></i><span><%= t('rooms.features.aircon') %></span></li>
                        <li><i class="fa fa-heart-o"></i><span><%= t('rooms.features.shower') %></span></li>
                        <li><i class="fa fa-check-square-o"></i><span><%= t('rooms.features.extrabed') %></span></li>
                      </ul>
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-female"></i><span><%= t('rooms.features.roomservice') %></span></li>
                        <li><i class="fa fa-key"></i><span><%= t('rooms.features.safe') %></span></li>
                        <li><i class="fa fa-desktop"></i><span><%= t('rooms.features.tv') %></span></li>
                      </ul>
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-globe"></i><span><%= t('rooms.features.wifi') %></span></li>
                        <li><i class="fa fa-phone"></i><span><%= t('rooms.features.phone') %></span></li>
                        <li><i class="fa fa-asterisk"></i><span><%= t('rooms.features.fridge') %></span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="special-offers listing">
          <h5 class="title-section">Специални оферти</h5>
          <div class="offers-content">
            <ul class="custom-list">
              <li>
                <div class="thumbnail"><%= image_tag("listing-1.jpg", class: "img-responsive") %></div>
                <h5 class="title"><a href="#">King Suite</a></h5>
                <span class="price">from $99/day</span>
              </li>
              <li>
                <div class="thumbnail"><%= image_tag("listing-1.jpg", class: "img-responsive") %></div>
                <h5 class="title"><a href="">King Suite</a></h5>
                <span class="price">from $99/day</span>
              </li>
            </ul>
          </div>
        </div>
      </div>




      <div class="sidebar col-md-3">
        




        <% if false %>
        <div class="fleets-filters toggle-container">
          <h5 class="toggle-title">Filters</h5>
          <aside class="toggle-content">
            <div class="search">
              <form action="#" class="default-form">
                <input type="text" placeholder="Search">
                <i class="fa fa-search"></i>
              </form>
            </div>
            <div class="general">
              <h5 class="title">General</h5>
              <form action="#" class="default-form">
                <span class="arrival calendar">
                  <input type="text" name="arrival" placeholder="Arrival" data-dateformat="m/d/y">
                  <i class="fa fa-calendar"></i>
                </span>
                <span class="departure calendar">
                  <input type="text" name="departure" placeholder="Departure" data-dateformat="m/d/y">
                  <i class="fa fa-calendar"></i>
                </span>
                <span class="adults select-box">
                  <select name="adults" data-placeholder="Adults">
                    <option>Adults</option>
                    <option value="1">1 adult</option>
                    <option value="2">2 adults</option>
                    <option value="3">3 adults</option>
                    <option value="4">4 adults</option>
                  </select>
                </span>
                <span class="children select-box">
                  <select name="children" data-placeholder="Children">
                    <option>Children</option>
                    <option value="1">1 children</option>
                    <option value="2">2 childrens</option>
                    <option value="3">3 childrens</option>
                    <option value="4">4 childrens</option>
                  </select>
                </span>
              </form>
              <h5 class="title">Price</h5>
              <div class="slider-range-container box-row">
                <div class="slider-range" data-min="2000" data-max="100000" data-step="2000" data-default-min="2000" data-default-max="50000" data-currency="$">
                </div>
                <div class="clearfix">
                  <input type="text" class="range-from" value="$2000">
                  <input type="text" class="range-to" value="$50000">
                </div>
              </div>
              <h5 class="title">Amenities</h5>
              <ul class="custom-list additional-filter-list clearfix">
                <li>
                  <span class="checkbox-input">
                    <input id="additional-filter-ac" checked="checked" type="checkbox">
                    <label for="additional-filter-ac">AC</label>
                  </span>
                </li> 
                <li>
                  <span class="checkbox-input">
                    <input id="additional-filter-hotbath" checked="checked" type="checkbox">
                    <label for="additional-filter-hotbath">Hotbath</label>
                  </span>
                </li> 
                <li>
                  <span class="checkbox-input">
                    <input id="additional-filter-parking" type="checkbox">
                    <label for="additional-filter-parking">Parking</label>
                  </span>
                </li> 
                <li>
                  <span class="checkbox-input">
                    <input id="additional-filter-room-service" type="checkbox">
                    <label for="additional-filter-room-service">Room Service</label>
                  </span>
                </li> 
                <li>
                  <span class="checkbox-input">
                    <input id="additional-filter-safe" checked="checked" type="checkbox">
                    <label for="additional-filter-safe">Safe</label>
                  </span>
                </li> 
                <li>
                  <span class="checkbox-input">
                    <input id="additional-filter-tv" checked="checked" type="checkbox">
                    <label for="additional-filter-tv">TV</label>
                  </span>
                </li> 
                <li>
                  <span class="checkbox-input active">
                    <input id="additional-filter-wifi" checked="checked" type="checkbox">
                    <label for="additional-filter-wifi">Wifi</label>
                  </span>
                </li> 
              </ul>
            </div>
            <div class="buttons">
              <button class="btn btn-transparent-gray pull-left">
                Filter
              </button>
              <button class="btn btn-transparent-gray pull-right">
                Reset
              </button>
            </div>
          </aside>
        </div>
        <% end %>


        <div class="special-offers sidebar">
          <h5 class="title-section"><%= link_to t('rooms.pricing'), special_offers_path %></h5>
          <% if false %>
          <div class="offers-content">
            
            <ul class="custom-list">
              <li>
                <div class="thumbnail"><%= image_tag("listing-1.jpg", class: "img-responsive") %></div>
                <h5 class="title"><a href="#">Двойна Стая</a></h5>
                <span class="price">-25% до Септември</span>
              </li>
              <li>
                <div class="thumbnail"><%= image_tag("listing-1.jpg", class: "img-responsive") %></div>
                <h5 class="title"><a href="">Апартамент</a></h5>
                <span class="price">-25% до Октомври</span>
              </li>
            </ul>
            
          </div>
          <% end %>
        </div>

        

        <div class="special-offers sidebar contact-us-button">
          <h5 class="title-section"><%= link_to t('rooms.request'), contacts_path %></h5>
          <% if false %>
          <div class="offers-content">
            
            <ul class="custom-list">
              <li>
                <div class="thumbnail"><%= image_tag("listing-1.jpg", class: "img-responsive") %></div>
                <h5 class="title"><a href="#">Двойна Стая</a></h5>
                <span class="price">-25% до Септември</span>
              </li>
              <li>
                <div class="thumbnail"><%= image_tag("listing-1.jpg", class: "img-responsive") %></div>
                <h5 class="title"><a href="">Апартамент</a></h5>
                <span class="price">-25% до Октомври</span>
              </li>
            </ul>
            
          </div>
          <% end %>
        </div>
      
        <% if false %>
        <div class="special-offers sidebar" style="margin-top: 50px;">
          <h5 class="title-section">Standard Features</h5>
          <ul class="custom-list-features">
            <li>Bright luxuriously furnished rooms</li> 
            <li>Laminate floor</li>
            <li>International direct dialing telephone</li>
            <li>Fridge</li>
            <li>Hairdryer in bathroom</li>
            <li>Balcony</li>
          </ul>
        </div>
        <% end %>

      </div><!-- end of side-bar -->

    </div>
  </div>
</section>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72755983-3', 'auto');
  ga('send', 'pageview');

</script>











<% if false %>
<!-- Start Header-Section -->
<section class="header-section listing">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title-section pull-left">
          Luxurious Accomdations
        </h3>
        <% if false %>
        <ul class="breadcrumbs custom-list list-inline pull-right">
          <li><a href="#">Home</a></li>
          <li><a href="#">Search Result</a></li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</section>
<!-- End Header-Section -->

<section id="listing">
  <div class="container">
    <div class="row">
      <div class="listing-content col-md-9">

        <% if false %>
        <div class="listing-pagination">
          <h5 class="title pull-left">Available Room</h5>
          <span class="adults select-box pull-right">
            <select name="perpage" data-placeholder="9 Per Page">
              <option>Per Page</option>
              <option value="1">10 Per Page</option>
              <option value="2">11 Per Page</option>
              <option value="3">12 Per Page</option>
              <option value="4">13 Per Page</option>
            </select>
          </span>
          <ul class="pagination custom-list list-inline pull-right">
            <li class="prev"><a href="#">Prev</a></li>
            <li class="number"><a href="#">1</a></li>
            <li class="number"><a href="#">2</a></li>
            <li class="number"><a href="#">3</a></li>
            <li class="next"><a href="#">Next</a></li>
          </ul>
        </div>
        <% end %>

        <!-- LISTING 1 -->
        <div class="listing-room-list">
          <div class="thumbnail">
            <div class="thumbnail-slider">
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
            </div>
          </div>
          <div class="listing-room-content">
            <div class="row">
              <div class="col-md-12">
                <header>
                  <div class="pull-left">
                    <h5 class="title">
                      <a href="#">Deluxe Room</a>
                    </h5>
                    <ul class="tags custom-list list-inline pull-left">
                      <li><a href="#">1 Bed</a></li>
                      <li><a href="#">2 People</a></li>
                      <li><a href="#">Sea View</a></li>
                    </ul>
                  </div>
                  <div class="pull-right">
                    <span class="price">
                      from $99/day
                    </span>
                  </div>
                </header>
                <div class="listing-facitilities">
                  <div class="row">
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-leaf"></i><span>AC</span></li>
                        <li><i class="fa fa-heart-o"></i><span>Hotbath</span></li>
                        <li><i class="fa fa-car"></i><span>Parking</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-female"></i><span>Room service</span></li>
                        <li><i class="fa fa-key"></i><span>Free safe</span></li>
                        <li><i class="fa fa-desktop"></i><span>TV & Audio</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-globe"></i><span>WIFI access</span></li>
                        <li><i class="fa fa-clock-o"></i><span>24/7 Service</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <button class="btn btn-transparent-gray">
                        Read More
                      </button>
                      <button class="btn btn-gray-dark">
                        Book now
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- LISTING 2 -->
        <div class="listing-room-list">
          <div class="thumbnail">
            <div class="thumbnail-slider">
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
            </div>
          </div>
          <div class="listing-room-content">
            <div class="row">
              <div class="col-md-12">
                <header>
                  <div class="pull-left">
                    <h5 class="title">
                      <a href="#">Double Deluxe Room</a>
                    </h5>
                    <ul class="tags custom-list list-inline pull-left">
                      <li><a href="#">2 Beds</a></li>
                      <li><a href="#">2 People</a></li>
                      <li><a href="#">Sea View</a></li>
                    </ul>
                  </div>
                  <div class="pull-right">
                    <span class="price">
                      from $119/day
                    </span>
                  </div>
                </header>
                <div class="listing-facitilities">
                  <div class="row">
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-leaf"></i><span>AC</span></li>
                        <li><i class="fa fa-heart-o"></i><span>Hotbath</span></li>
                        <li><i class="fa fa-car"></i><span>Parking</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-female"></i><span>Room service</span></li>
                        <li><i class="fa fa-key"></i><span>Free safe</span></li>
                        <li><i class="fa fa-desktop"></i><span>TV & Audio</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-globe"></i><span>WIFI access</span></li>
                        <li><i class="fa fa-clock-o"></i><span>24/7 Service</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <button class="btn btn-transparent-gray">
                        Read More
                      </button>
                      <button class="btn btn-gray-dark">
                        Book now
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- LISTING 3 -->
        <div class="listing-room-list">
          <div class="thumbnail">
            <div class="thumbnail-slider">
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
            </div>
          </div>
          <div class="listing-room-content">
            <div class="row">
              <div class="col-md-12">
                <header>
                  <div class="pull-left">
                    <h5 class="title">
                      <a href="#">Family Apartnment</a>
                    </h5>
                    <ul class="tags custom-list list-inline pull-left">
                      <li><a href="#">3 Beds</a></li>
                      <li><a href="#">4 People</a></li>
                      <li><a href="#">Sea View</a></li>
                    </ul>
                  </div>
                  <div class="pull-right">
                    <span class="price">
                      from $149/day
                    </span>
                  </div>
                </header>
                <div class="listing-facitilities">
                  <div class="row">
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-leaf"></i><span>AC</span></li>
                        <li><i class="fa fa-heart-o"></i><span>Hotbath</span></li>
                        <li><i class="fa fa-car"></i><span>Parking</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-female"></i><span>Room service</span></li>
                        <li><i class="fa fa-key"></i><span>Free safe</span></li>
                        <li><i class="fa fa-desktop"></i><span>TV & Audio</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-globe"></i><span>WIFI access</span></li>
                        <li><i class="fa fa-clock-o"></i><span>24/7 Service</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <button class="btn btn-transparent-gray">
                        Read More
                      </button>
                      <button class="btn btn-gray-dark">
                        Book now
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- LISTING 4 -->
        <div class="listing-room-list">
          <div class="thumbnail">
            <div class="thumbnail-slider">
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
            </div>
          </div>
          <div class="listing-room-content">
            <div class="row">
              <div class="col-md-12">
                <header>
                  <div class="pull-left">
                    <h5 class="title">
                      <a href="#">King Suite</a>
                    </h5>
                    <ul class="tags custom-list list-inline pull-left">
                      <li><a href="#">1 Bed</a></li>
                      <li><a href="#">2 People</a></li>
                      <li><a href="#">Sea View</a></li>
                    </ul>
                  </div>
                  <div class="pull-right">
                    <span class="price">
                      from $199/day
                    </span>
                  </div>
                </header>
                <div class="listing-facitilities">
                  <div class="row">
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-leaf"></i><span>AC</span></li>
                        <li><i class="fa fa-heart-o"></i><span>Hotbath</span></li>
                        <li><i class="fa fa-car"></i><span>Parking</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-female"></i><span>Room service</span></li>
                        <li><i class="fa fa-key"></i><span>Free safe</span></li>
                        <li><i class="fa fa-desktop"></i><span>TV & Audio</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-globe"></i><span>WIFI access</span></li>
                        <li><i class="fa fa-clock-o"></i><span>24/7 Service</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <button class="btn btn-transparent-gray">
                        Read More
                      </button>
                      <button class="btn btn-gray-dark">
                        Book now
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- LISTING 5 -->
        <div class="listing-room-list">
          <div class="thumbnail">
            <div class="thumbnail-slider">
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
              <%= image_tag("listing-1.jpg", class: "img-responsive") %>
            </div>
          </div>
          <div class="listing-room-content">
            <div class="row">
              <div class="col-md-12">
                <header>
                  <div class="pull-left">
                    <h5 class="title">
                      <a href="#">King Suite Family</a>
                    </h5>
                    <ul class="tags custom-list list-inline pull-left">
                      <li><a href="#">3 Beds</a></li>
                      <li><a href="#">4 People</a></li>
                      <li><a href="#">Sea View</a></li>
                    </ul>
                  </div>
                  <div class="pull-right">
                    <span class="price">
                      from $249/day
                    </span>
                  </div>
                </header>
                <div class="listing-facitilities">
                  <div class="row">
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-leaf"></i><span>AC</span></li>
                        <li><i class="fa fa-heart-o"></i><span>Hotbath</span></li>
                        <li><i class="fa fa-car"></i><span>Parking</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-female"></i><span>Room service</span></li>
                        <li><i class="fa fa-key"></i><span>Free safe</span></li>
                        <li><i class="fa fa-desktop"></i><span>TV & Audio</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <ul class="facilities-list custom-list">
                        <li><i class="fa fa-globe"></i><span>WIFI access</span></li>
                        <li><i class="fa fa-clock-o"></i><span>24/7 Service</span></li>
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <button class="btn btn-transparent-gray">
                        Read More
                      </button>
                      <button class="btn btn-gray-dark">
                        Book now
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <% if false %>
        <div class="listing-pagination footer">
          <ul class="pagination custom-list list-inline text-center no-margin">
            <li class="prev"><a href="#">Prev</a></li>
            <li class="number"><a href="#">1</a></li>
            <li class="number"><a href="#">2</a></li>
            <li class="number"><a href="#">3</a></li>
            <li class="next"><a href="#">Next</a></li>
          </ul>
        </div>
        <% end %>

        <div class="special-offers listing">
          <h5 class="title-section">Special Offers</h5>
          <div class="offers-content">
            <ul class="custom-list">
              <li>
                <div class="thumbnail"><%= image_tag("listing-1.jpg", class: "img-responsive") %></div>
                <h5 class="title"><a href="#">King Suite</a></h5>
                <span class="price">from $99/day</span>
              </li>
              <li>
                <div class="thumbnail"><%= image_tag("listing-1.jpg", class: "img-responsive") %></div>
                <h5 class="title"><a href="">King Suite</a></h5>
                <span class="price">from $99/day</span>
              </li>
              <li>
                <div class="thumbnail"><%= image_tag("listing-1.jpg", class: "img-responsive") %></div>
                <h5 class="title"><a href="">King Suite</a></h5>
                <span class="price">from $99/day</span>
              </li>
            </ul>
          </div>
        </div>
      </div>




      <div class="sidebar col-md-3">
        
        <% if false %>
        <div class="fleets-filters toggle-container">
          <h5 class="toggle-title">Filters</h5>
          <aside class="toggle-content">
            <div class="search">
              <form action="#" class="default-form">
                <input type="text" placeholder="Search">
                <i class="fa fa-search"></i>
              </form>
            </div>
            <div class="general">
              <h5 class="title">General</h5>
              <form action="#" class="default-form">
                <span class="arrival calendar">
                  <input type="text" name="arrival" placeholder="Arrival" data-dateformat="m/d/y">
                  <i class="fa fa-calendar"></i>
                </span>
                <span class="departure calendar">
                  <input type="text" name="departure" placeholder="Departure" data-dateformat="m/d/y">
                  <i class="fa fa-calendar"></i>
                </span>
                <span class="adults select-box">
                  <select name="adults" data-placeholder="Adults">
                    <option>Adults</option>
                    <option value="1">1 adult</option>
                    <option value="2">2 adults</option>
                    <option value="3">3 adults</option>
                    <option value="4">4 adults</option>
                  </select>
                </span>
                <span class="children select-box">
                  <select name="children" data-placeholder="Children">
                    <option>Children</option>
                    <option value="1">1 children</option>
                    <option value="2">2 childrens</option>
                    <option value="3">3 childrens</option>
                    <option value="4">4 childrens</option>
                  </select>
                </span>
              </form>
              <h5 class="title">Price</h5>
              <div class="slider-range-container box-row">
                <div class="slider-range" data-min="2000" data-max="100000" data-step="2000" data-default-min="2000" data-default-max="50000" data-currency="$">
                </div>
                <div class="clearfix">
                  <input type="text" class="range-from" value="$2000">
                  <input type="text" class="range-to" value="$50000">
                </div>
              </div>
              <h5 class="title">Amenities</h5>
              <ul class="custom-list additional-filter-list clearfix">
                <li>
                  <span class="checkbox-input">
                    <input id="additional-filter-ac" checked="checked" type="checkbox">
                    <label for="additional-filter-ac">AC</label>
                  </span>
                </li> 
                <li>
                  <span class="checkbox-input">
                    <input id="additional-filter-hotbath" checked="checked" type="checkbox">
                    <label for="additional-filter-hotbath">Hotbath</label>
                  </span>
                </li> 
                <li>
                  <span class="checkbox-input">
                    <input id="additional-filter-parking" type="checkbox">
                    <label for="additional-filter-parking">Parking</label>
                  </span>
                </li> 
                <li>
                  <span class="checkbox-input">
                    <input id="additional-filter-room-service" type="checkbox">
                    <label for="additional-filter-room-service">Room Service</label>
                  </span>
                </li> 
                <li>
                  <span class="checkbox-input">
                    <input id="additional-filter-safe" checked="checked" type="checkbox">
                    <label for="additional-filter-safe">Safe</label>
                  </span>
                </li> 
                <li>
                  <span class="checkbox-input">
                    <input id="additional-filter-tv" checked="checked" type="checkbox">
                    <label for="additional-filter-tv">TV</label>
                  </span>
                </li> 
                <li>
                  <span class="checkbox-input active">
                    <input id="additional-filter-wifi" checked="checked" type="checkbox">
                    <label for="additional-filter-wifi">Wifi</label>
                  </span>
                </li> 
              </ul>
            </div>
            <div class="buttons">
              <button class="btn btn-transparent-gray pull-left">
                Filter
              </button>
              <button class="btn btn-transparent-gray pull-right">
                Reset
              </button>
            </div>
          </aside>
        </div>
        <% end %>


        <div class="special-offers sidebar">
          <h5 class="title-section">Special Offers</h5>
          <div class="offers-content">
            <ul class="custom-list">
              <li>
                <div class="thumbnail"><%= image_tag("listing-1.jpg", class: "img-responsive") %></div>
                <h5 class="title"><a href="#">Family Apt.</a></h5>
                <span class="price">25% off until Sept.</span>
              </li>
              <li>
                <div class="thumbnail"><%= image_tag("listing-1.jpg", class: "img-responsive") %></div>
                <h5 class="title"><a href="">King Suite</a></h5>
                <span class="price">25% off until Sept.</span>
              </li>
              <li>
                <div class="thumbnail"><%= image_tag("listing-1.jpg", class: "img-responsive") %></div>
                <h5 class="title"><a href="">King Suite Family</a></h5>
                <span class="price">25% off until Oct.</span>
              </li>
            </ul>
          </div>
        </div>
      

        <div class="special-offers sidebar" style="margin-top: 50px;">
          <h5 class="title-section">Standard Features</h5>
          <ul class="custom-list-features">
            <li>Bright luxuriously furnished rooms</li> 
            <li>Laminate floor</li>
            <li>International direct dialing telephone</li>
            <li>Fridge</li>
            <li>Hairdryer in bathroom</li>
            <li>Balcony</li>
          </ul>
        </div>


      </div><!-- end of side-bar -->

    </div>
  </div>
</section>
<% end %>