<!-- Start Header-Section -->
<section class="header-section listing">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title-section pull-left">
          <%= t("menu.services") %>
        </h3>
        <% if false %>
        <ul class="breadcrumbs custom-list list-inline pull-right">
          <li><a href="#">Home</a></li>
          <li><a href="#">Search Result</a></li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</section>
<!-- End Header-Section -->

<!-- Start Supertabs -->
  <section class="supertabs">
    <div class="container">
      <div class="row">

        <% if I18n.locale == :en %>
        
        <!-- Start Tab-Navigation -->
        <div class="col-md-4 tab-navigation">
          <ul class="custom-list">
            <li class="active">
              <a data-toggle="tab" href="#pool">
                <h5 class="title">Pool & Beach</h5>
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#internet">
                <h5 class="title">Internet</h5>
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#kids">
                <h5 class="title">Kids' facilities</h5>
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#sports">
                <h5 class="title">Sports, Relaxation & Entertainment</h5>
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#info">
                <h5 class="title">Additional information</h5>
              </a>
            </li>
          </ul>
        </div>
        <!-- End Tab-Navigation -->

        <!-- Start Tab-Content -->
        <div class="col-md-8 tab-content">
          <div id="pool" class="tab-pane fade in active">
            <%= image_tag("supertabs-3.jpg") %>
            <header>
              <h5 class="title">Pool & Beach</h5>
              <h6 class="subtitle"></h6>
            </header>
            <p>Arena Mar's garden-like outdoor area features a pool, kids' pool, sun loungers and parasols as well as a pool bar. Sun loungers and parasols are available free of charge at the pool.
              <br/>
              <br/>- Pool (22x 6.8m2) 1.2 m deep with an integrated kid’s pool 0,65m deep.
              <br/>- Kids' pool (appr. 5x5) and 0.67m deep.  Integrated in indoor pool.
              <br/>- Indoor pool (9.5x5) in the hotel spa –  Open from 9am till 5pm.
              <br/>- Sun loungers and parasols at the pool – free of charge.
              <br/>- Pool/ beach Towels – free of charge.
            </p>
          </div>
          <div id="internet" class="tab-pane fade">
            <%= image_tag("supertabs.jpg") %>
            <header>
              <h5 class="title">Internet</h5>
              <h6 class="subtitle"></h6>
            </header>
            <p><strong>Free Wi-Fi in the lobby</br>Wi-Fi in room</strong> (additional charge)</p>
          </div>
          <div id="kids" class="tab-pane fade">
            <%= image_tag("supertabs.jpg") %>
            <header>
              <h5 class="title">Kids' facilities</h5>
              <h6 class="subtitle"></h6>
            </header>
            <p>Hotel Arena Mar offers various activities for children of different ages along with kids pool and playground area.
            <br/>
            <br/>- Mini club (4-12 years)
            <br/>- Playroom
            <br/>- Outdoor playground
            <br/>- Mini disco
            <br/>- Board games and table tennis
            <br/>- Outdoor and indoor kids pool
            <br/>- Kids TV channels
            <br/>- Babysitting (against charge)
          </p>
          </div>
          <div id="sports" class="tab-pane fade">
            <%= image_tag("supertabs-3.jpg") %>
            <header>
              <h5 class="title">Sports, Relaxation & Entertainment</h5>
              <h6 class="subtitle"></h6>
            </header>
            <p>
              The hotel organizes various sports activities for those who want to stay fit during their holiday, such as aqua aerobics, aerobics and water basketball. In addition, the hotel has a gym. <br/><br/> For those who are seeking relaxation, the hotel's modern spa center offers massage treatments, an indoor pool with a kids' section, sauna, steam bath, turkish bath, jaccuzi,  as well as a beauty salon (treatments at additional charge). Arena Mar's animation team organizes activities during the day and night time, such as shows, contests, awards, parties with DJ, group games and dance lessons.
              </br>
              </br>- <strong>Gym, Indoor pool, Sauna, Turkish bath, Steam bath, Jaccuzi, Spa treatments </strong>(at additional charge)<strong>, beauty salon with hairdresser, Aqua gymnastics, Table tennis - free of charge, Water basketball, Darts - free of charge</strong>
            </p>
          </div>
          <div id="info" class="tab-pane fade">
            <%= image_tag("supertabs.jpg") %>
            <header>
              <h5 class="title">Additional Information</h5>
              <h6 class="subtitle"></h6>
            </header>
            <p>            
              - Private Parking in the hotel area, extra charge<br/>
              - Built year 2015<br/>
              - Number of buildings - 1<br/>
              - Number of floors 5<br/>
              - Elevator(s) 3<br/>
              - Number of rooms 200<br/>
              - Reception <br/>
              - Minimarket – across the street<br/>
              - Laundry service – at an extra charge<br/>
              - On call doctor <br/>
              - Currency exchange
            </p>
          </div>
        </div>
        <!-- End Tab-Content -->


        <% elsif I18n.locale == :bg %>




        <!-- Start Tab-Navigation -->
        <div class="col-md-4 tab-navigation">
          <ul class="custom-list">
            <li class="active">
              <a data-toggle="tab" href="#pool">
                <h5 class="title">Външен басейн</h5>
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#pool2">
                <h5 class="title">Вътрешен басейн</h5>
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#spa">
                <h5 class="title">Спа център</h5>
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#sports">
                <h5 class="title">Спорт и забавление</h5>
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#info">
                <h5 class="title">Услуги в хотела</h5>
              </a>
            </li>
          </ul>
        </div>
        <!-- End Tab-Navigation -->

        <!-- Start Tab-Content -->
        <div class="col-md-8 tab-content">
          <div id="pool" class="tab-pane fade in active">
            <%= image_tag("supertabs-3.jpg") %>
            <header>
              <h5 class="title">Външен басейн</h5>
              <h6 class="subtitle">Арена Мар**** се грижи за незабравимото изживяване на гостите си от всички възрасти, през  всички сезони на годината</h6>
            </header>
            <p><strong>Външен басейн</strong>
              <br/>с дълбочина около 1,3м и размери 22мx6,8м, с детска секция с дълбочина 0,65м и лагуна
              <br/>- Работно време: 08:00 – 17:00
            </p>
          </div>
          <div id="pool2" class="tab-pane fade">
            <%= image_tag("supertabs-3.jpg") %>
            <header>
              <h5 class="title">Вътрешен басейн</h5>
              <h6 class="subtitle">Арена Мар**** се грижи за незабравимото изживяване на гостите си от всички възрасти, през  всички сезони на годината</h6>
            </header>
            <p><strong>Вътрешен басейн - Отопляем (28-30&#8451; през зимния период)</strong>
              <br/>удобно разположен на територията на спа центъра. С размери приблизително 9,5x5м и максимална дълбочина 1,70м . Детски басейн, интегриран в големия с дължина 5м и дълбочина 0,67м
              <br/>- Работно време: 08:00 – 17:00
            </p>
          </div>
          <div id="spa" class="tab-pane fade">
            <%= image_tag("supertabs-3.jpg") %>
            <header>
              <h5 class="title">Спа център</h5>
              <h6 class="subtitle">Арена Мар**** се грижи за незабравимото изживяване на гостите си от всички възрасти, през  всички сезони на годината</h6>
            </header>
            <p>Поглезете се с някой от специално разработените от нашите опитни специалисти Спа ритуали, подмладяващи, тонизиращи и хидратиращи терапии за лице; отслабващи, детоксикиращи и антицелулитни терапии за тяло, масажи, и др. Налични в Спа центъра са още:
            <br/>- Сауна
            <br/>- Хамам
            <br/>- Джакузи
            <br/>- Парна баня
            <br/>- Шоково ведро
            <br/>- Стая за релакс
            <br/>- Салон за красота - прическа, маникюр, кола-маска, подхранваща грижа за скалпа, и др.
            <br/>Работмо време: 08:00 - 18:00

          </p>
          </div>
          <div id="sports" class="tab-pane fade">
            <%= image_tag("supertabs.jpg") %>
            <header>
              <h5 class="title">Спорт и забавление</h5>
              <h6 class="subtitle">За още по-активна почивка и по-разнообразна програма на гостите, сме предвидили</h6>
            </header>
            <p>
              <strong>Фитнес център</strong>
              <br/>разположен на територията на Спа центъра и отворен в работното време на Спа центъра
              <br/>

              <strong>Билярд</strong>
              <br/>ниво -1, до ресторант А-ла-карт. Срещу заплащане на рецепция
              <br/>

              <strong>Футбол на маса</strong>
              <br/>ниво -1, до ресторант А-ла-карт. Срещу заплащане на рецепция
              <br/>

              <strong>Тенис на маса</strong>
              <br/>безплатно за гостите на хотела, на лоби терасата
              <br/>

              <strong>Анимационна програма</strong>
              <br/>през летния сезон, включваща различни игри – аеробика, водна аеробика, воден баскетбол, дартс
              <br/>

              <strong>За децата</strong>
              <br/>Мини клуб и детска площадка, мини диско през летния сезон
              <br/>
            </p>
          </div>
          <div id="info" class="tab-pane fade">
            <%= image_tag("supertabs.jpg") %>
            <header>
              <h5 class="title">Услуги в хотела</h5>
              <h6 class="subtitle">Платени</h6>
            </header>
            <p>            
              - Паркинг<br/>
              - Сейф (в стаята)<br/>
              - Бебешка кошара<br/>
              - Почасово гледане на дете<br/>
              - Лекар<br/>
              - Интернет в стаята<br/>
              - Резервации за ресторанти, кина, театри, оперни представления и др. Персоналът на рецепция с радост ще Ви съдейства да резервирате маса в ресторант, да запазите места в театър или за представление, а също така ще Ви даде информация за събития, забележителности, и др.<br/>
              - Телефонни разговори<br/>
              - Пране и гладене<br/>
              - Плажни хавлии<br/>
            </p>
          </div>
        </div>
        <!-- End Tab-Content -->

        <% end %>

        <div id="owl-demo" class="owl-carousel owl-theme owl-margin">

          <div class="item"><div class="image service2"></div></div>
          <div class="item"><div class="image service3"></div></div>
          <div class="item"><div class="image service4"></div></div>
          <div class="item"><div class="image service5"></div></div>
          <div class="item"><div class="image service6"></div></div>
          <div class="item"><div class="image service7"></div></div>
          <div class="item"><div class="image service8"></div></div>
          <div class="item"><div class="image service9"></div></div>
          <div class="item"><div class="image service10"></div></div>
          <div class="item"><div class="image service11"></div></div>
          <div class="item"><div class="image service12"></div></div>
          <div class="item"><div class="image service13"></div></div>
          <div class="item"><div class="image service14"></div></div>
          <div class="item"><div class="image service15"></div></div>
          <div class="item"><div class="image service16"></div></div>
          <div class="item"><div class="image service17"></div></div>
          <div class="item"><div class="image service1"></div></div>

        </div>
        <div class="customNavigation">
          <a class="btn prev"><i class='fa fa-angle-left'></i></a>
          <a class="btn next"><i class='fa fa-angle-right'></i></a>
        </div>

      </div>
    </div>
  </section>
  <!-- End Supertabs -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72755983-3', 'auto');
  ga('send', 'pageview');

</script>