


  <!-- Start Footer -->
  <footer id="footer">

    <!-- Start Footer-Top -->
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-md-12 logo-footer">
            <%= image_tag("logo.png", class: "img-responsive") %>
          </div>
          <div class="col-md-3 widget">
            <h5 class="title">
              <%= t('footer.policies.title') %>
            </h5>
            <p><%= link_to t('menu.privacy'), privacy_path %></p>
            <p><%= link_to t('menu.cookie'), cookiepolicy_path %></p>
          </div>

          <div class="col-md-3 widget">
            <h5 class="title">
              <%= t('footer.eu.title') %>
            </h5>
          <p><%= link_to t('footer.eu.link1'), "https://drive.google.com/uc?export=download&id=18y1NMpjRVmyePUaOG5pF01796-jZ7pbP" %></p>
          </div>

          <div class="col-md-3 widget">
            <h5 class="title">
              <%= t('footer.contact') %>
            </h5>
            <p><%= t('footer.phone.phone1') %>: <strong>+359 52 355 449</strong></p>
            <p><%= t('footer.phone.phone2') %>: <strong>+359 878 737 531</strong></p>
            <p><a href="mailto:info@perunika.com">hotelarena@abv.bg</a></p>
            <p><%= link_to t('footer.address.content'), contacts_path, 'data-no-turbolink' => true, class: "contact-button" %></p>
          </div>

          <% if false %>
            <div class="social">
              <h5 class="title pull-left">
                Stay in touch
              </h5>
              <ul class="custom-list list-inline pull-right">
                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
              </ul>
            </div>
            <% end %>
            

          <div class="col-md-3 widget">
            <h5 class="title">
              <%= t('footer.form.title') %>
            </h5>
            <p><%= link_to t('footer.form.content'), contacts_path, 'data-no-turbolink' => true, class: "contact-button" %></p>
          </div>
          



        </div>
      </div>
    </div>
    <!-- End Footer-Top -->

    <!-- Start Footer-Copyrights -->
    <div class="footer-copyrights">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>© 2021 <%= t('footer.copyright') %></p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Footer-Copyrights -->

  </footer>
  <!-- End Footer -->