<!-- Start Header -->
<header id="header">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12">
          <ul class="contact-info custom-list list-inline">
            <li><i class="fa fa-phone"></i><span>+359 52 355 449</span></li>
            <li><i class="fa fa-envelope"></i><span>info@perunika.com</span></li>
          </ul>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 text-right pull-right">
          <% if false %>
          <div class="contact-right">
            
            <ul class="social custom-list list-inline">
              <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
            
            
            <div class="header-login">
              
              <button class="login-toggle header-btn"><i class="fa fa-power-off"></i> Login</button>
              
              
              <div class="header-form">
                <form action="#" class="default-form">
                  <p class="alert-message warning"><i class="ico fa fa-exclamation-circle"></i> All fields are required! <i class="fa fa-times close"></i></p>
                  <p class="form-row">
                    <input class="required email" type="text" placeholder="Email">
                  </p>
                  <p class="form-row">
                    <input class="required" type="password" placeholder="Password">
                  </p>
                  <p class="form-row">
                    <button class="submit-btn button btn-blue"><i class="fa fa-power-off"></i> Login</button>
                  </p>
                  <p class="form-row forgot-password">
                    <a href="#">Forgot Password?</a>
                  </p>
                  <p class="form-row register">
                    <a href="#">Register</a>
                  </p>
                </form>
              </div>
              
            </div>

            <div class="header-language">
              <button class="header-btn"><i class="fa fa-globe"></i>BG</button>
              <nav class="header-nav">
                <ul class="custom-list">
                  <li class="active"><a href="#">BG</a></li>
                  <% if false %>
                  <li><a href="#">EN</a></li>
                  <li><a href="#">DE</a></li>
                  <li><a href="#">FR</a></li>
                  <% end %>
                </ul>
              </nav>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="header-navi">
    <div class="container">
      <div class="row">
        <div class="col-md-12" id="bs-example-navbar-collapse-1">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
              <ul class="nav navbar-nav main-nav">
                <li class=""><%= link_to "За нас", root_path %></li>
                <li><%= link_to "Услуги", services_path %></li>
                <li><%= link_to "Стаи", rooms_path %></li>
                
                <% if false %>
                <li class="has-submenu">
                  <a href="#">Rooms</a>
                  <ul class="sub-menu custom-list">
                    <li><a href="listing.html">Rooms List View</a></li>
                    <li><a href="listing2.html">Rooms Grid View</a>
                    </li>
                    <li class="has-submenu">
                      <a href="#">Luxury Apartments</a>
                      <ul class="sub-menu custom-list">
                        <li><a href="room4.html">Luxury Apartment 1</a></li>
                        <li><a href="room.html">Luxury Apartment 2</a></li>
                      </ul>
                    </li>
                    <li class="has-submenu">
                      <a href="#">Deluxe Suites</a>
                      <ul class="sub-menu custom-list">
                        <li><a href="room2.html">Deluxe Suite 1</a></li>
                        <li><a href="room3.html">Deluxe Suite 2</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <% end %>

                
              </ul>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2 col-sm-12 col-sm-offset-0">
              <ul class="nav navbar-nav main-nav pull-right text-right">
                

                <% if false %>
                <li class="has-submenu">
                  <%= link_to "About Us", "#" %>
                  <ul class="sub-menu custom-list">
                    <li><a href="#">News</a></li>
                    <li><a href="#">Pools, Spa & Fitness</a></li>
                    <li><a href="#">Cuisine</a></li>
                    <li><a href="#">Entertainment</a></li>
                  </ul>
                </li>
                <li><%= link_to "Location", location_path, 'data-no-turbolink' => true %></li>
                <li><%= link_to "Contacts", contacts_path, 'data-no-turbolink' => true %></li>
                <% end %>


                <li><%= link_to "Ресторанти", restaurants_path %></li>
                <li><%= link_to "Оферти", special_offers_path %></li>
                <li><%= link_to "Контакти", contacts_path, 'data-no-turbolink' => true %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End Header -->

<!-- Start Header-Toggle -->
<div id="header-toggle">
  <i class="fa fa-bars"></i>
</div>
<!-- End Header-Toggle -->

<!-- Start Header-Logo -->
<div class="header-logo">
  <div class="header-logo-inner">
    <div class="css-table">
      <div class="css-table-cell">
        <a href="#">

          <%= link_to image_tag("logo.png", class: 'img-responsive center-block'), root_path %>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- End Header-Logo -->