<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="description" content="Хотелски комплекс 'Arena Mar' - 4 звезди се намира в курорта Златни пясъци на българското крайбрежие на Черно море и е разположен на север от съществуващия хотел Перуника. Хотел 'Арена Мар' е на 150 метра от плажа, на 250 метра от центъра на курорта, на 15 км от най-близкия град - Варна, и на 23 км от летището.">

  <meta name="keywords" content="Hotel, Arena-Mar, Arena Mar, Hotel Arena, 4 star, Perunika, Golden Sands, Resort, Bulgaria, Varna, Хотел, Арена Мар, Хотел Арена, Арена-Мар, 4 звезди, Златни пясъци, България, Варна">

  <title>Arena-Mar Hotel</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400italic' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>

  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
  <script>
  window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#edeff5",
        "text": "#838391"
      },
      "button": {
        "background": "#4b81e8"
      }
    },
    "position": "bottom-left",
    "content": {
      "message": "Този уебсайт използва бисквитки (\"Cookies\") с цел подобравяне на качеството на предлаганите услуги. Научете повече в нашата ",
      "dismiss": "Приемам",
      "link": "Политика за бисквитки",
      "href": "/cookiepolicy"
    }
  })});
  </script>

</head>
<body>
	

  
  <div id="main-wrapper">
    <%= render template: 'layouts/_header' %>



    
    <%= yield %>


    <%= render template: 'layouts/_footer' %>

  </div>


  	
  	
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false?libraries=places&key=AIzaSyA5UpV0vLU3Iuo_LaCxyHh9YHiPD2DDRSM" type="text/javascript"></script>
    <!-- begin Free Call code -->
    <script type="text/javascript">
    (function() {
      var dg_scr = document.createElement('script'); dg_scr.type = 'text/javascript'; dg_scr.async = true;
      dg_scr.src = (('https:' == document.location.protocol) ? 'https://' : 'http://') + 'track.freecallinc.com/freecall.js';
      dg_scr.onload = function(){
    try {
      deskGod.track(44573, 43573);
    } catch(err){ }
      };
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(dg_scr, s);
    })();
    </script>
    <!-- end Free Call inc code -->
</body>
</html>